.container {
  text-align: center;
  padding: 10%;
  font-family: "Poppins", sans-serif;
  display: block;
}

.weather-app-wrapper {
  max-width: 700px;
  background: rgb(14, 139, 242);
  background: linear-gradient(
    0deg,
    rgba(14, 139, 242, 0.5074404761904762) 18%,
    rgba(251, 188, 44, 0.6783088235294117) 100%
  );
  color: white;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  border: none;
}
.form {
  padding-top: 8px;
}

.submitButton {
  background-color: rgba(132, 212, 236, 0.582);
  border-radius: 5px;
  border-color: rgb(0, 255, 255);

  color: white;
}

.weather-icon {
  font-size: 150px;
}

#description {
  text-transform: capitalize;
}

#city {
  border-radius: 5px;
  border: none;
}

.temperatures {
  font-size: 25px;
}
#locationButton {
  background-color: rgb(252, 195, 8);
  border-radius: 5px;

  border-color: rgb(211, 142, 96);
}

.gps {
  font-size: 18px;
  color: white;
}
.gps,
#cityTypedName {
  display: inline-block;
}

#icon  {
  font-size: larger;
}

.line {
  display: block;
  border-width: 3px;
  border-color: white;
}

.row1 {
  border-color: white;
}

.signature {
  position: relative;
}

.units {
  position: relative;
  font-size: 18px;
  top: -50px;
}
#currentTime {
  font-size: 22px;
}
#currentDegrees {
  font-size: 90px;
}

#cityTypedName {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
}
#icon {
  font-size: 110px;
}
