.container {
  padding: 10%;
  font-family: "Poppins", sans-serif;
  display: block;
}

.weather-app-wrapper {
  max-width: 700px;
  background: rgb(14, 139, 242);
  background: linear-gradient(
    0deg,
    rgba(14, 139, 242, 0.5074404761904762) 18%,
    rgba(251, 188, 44, 0.6783088235294117) 100%
  );
  color: white;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
  border-color: black;
}
.form {
  padding-top: 8px;
}

.submitButton {
  background-color: rgba(132, 212, 236, 0.582);
  border-radius: 5px;
  border-color: #d5cd9e;

  color: white;
}

#description {
  text-transform: capitalize;
}

#city {
  border-radius: 5px;
  border: none;
}
#locationButton {
  background-color: #f9d173;
  border-radius: 10px;
  color: white;
  border-color: #d5cd9e;
}

.gps {
  font-size: 18px;
  color: white;
}
.gps,
#cityTypedName {
  display: inline-block;
}

.line {
  display: block;
  border-width: 3px;
  border-color: white;
}
.signature {
  position: relative;
  left: 63%;
}

.units {
  position: relative;
  font-size: 18px;
  top: -50px;
}
#currentTime {
  position: relative;
  font-size: 24px;
  top: 26px;
}
#currentDegrees {
  font-size: 90px;
}

#cityTypedName {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
}
#icon {
  font-size: 130px;
}

.weather-forecast-temp-min {
  opacity: 0.6;
}

#humidity-wind {
  position: relative;
  top: 10px;
}
